@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    transition: 1s;

}

.main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 550px;
    margin: 50px;
    background-color: #e8e8e8;
    border-radius: 1rem;
    text-align: center;
    border: 2px solid #1B1F1C;
    border-radius: 1em;
    box-shadow: 5px 5px 0px #1B1F1C;
}

h2 {
    font-size: 2.5rem;
    margin-top: 20px;
    font-weight: 600;
    margin-left: 15px;
    margin-right: 15px;
}

#btn {
   margin: 13px;
}

button {
    position: relative;
    background-color: #000;
    border-radius: 10px;
    padding: 20px;
    width: 94%;
    color: #fff;
    border: none;
    font-size: 20px;
    transition: all .3s ease-in-out;
    z-index: 1;
    overflow: hidden;
  }
  
  button::before {
    content: "";
    background-color: #1B1F1C;
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 700ms ease-in-out;
    display: inline-block;
  }
  
  button:hover::before {
    width: 100%;
  }